* {
   margin: 0;
   padding: 0;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

.App {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   background-color: rgb(0, 0, 0);
   color: white;
}

.section{
   width: 100%;
   overflow: hidden;
}


.light--grey{
   background-color: rgb(20, 20, 20);
}

.dark--grey{
   background-color: rgb(17, 15, 15);
}

.container{
   width: 100%;
   margin: 0 auto;
   padding: 0px 22rem;
}


@media (max-width: 1440px) {
  .container{
     padding: 0px 10rem;
  }
}

@media (max-width: 1024px) {
    html {
      font-size: 0.9rem;
   }
   .container{
      padding: 0px 4rem;
   }
}

@media (max-width: 768px) {
   html {
     font-size: 0.9rem;
  }
  .container{
     padding: 0px 4rem;
  }
}